<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <header id = "headerWrapper" th:fragment="header">
        <div id = "menu">
            <div id = "hamburgerMenu" class = "mobileElement topMenuLogo" onclick = "openMenu()">
                <button class = "logoContainer">
                    <img src = "#" srcset = "svg/Menu.svg" alt = "Hamburger menu" class = "svg logo">
                    <span>
                        Menu
                    </span>
                </button>
            </div>
            <div id = "search" class = "topMenuLogo" onclick = "openSearch()">
                <button class = "logoContainer">
                    <img src = "#" srcset = "svg/search.svg" alt = "Looking glass logo" class = "svg logo">
                    <span>
                        Search
                    </span>
                </button>
            </div>
            <a th:href = "@{/index}" id = "companyHeader">
                <h1>
                    NORTE
                </h1>
            </a>
            <nav id = "sideMenu">
                <button id = "exit" class = "mobileElement topMenuLogo" onclick = "closeMenu()">
                    <img src = "#" srcset = "svg/cross.svg" alt = "Image of a cross logo" class = "svg logo">
                </button>
                <a th:href = "@{/products}" class = "menuOption">
                    Products
                </a>
                <a href = "products.html" class = "menuOption">
                    Sale
                </a>
                <a th:href = "@{/contactUs}" class = "menuOption">
                    Contact us
                </a>
                <a th:href = "@{/aboutUs}" class = "menuOption">
                    About us
                </a>
            </nav>
            <div id = "searchForm">
                <form>
                    <label for = "productSearch">
                        Search
                    </label>
                    <img src = "#" srcset = "svg/search.svg" alt = "Search button" class = "svg logo">
                    <input type = "search" id = "productSearch" name="productSearch">
                </form>
            </div>
            <div id = "cartMenu" class = "topMenuLogo">
                <a th:href = "@{/cart}" class = "logoContainer">
                    <img src = "#" srcset = "svg/shoppingcart.svg" alt = "A shoppingcart" class = "svg logo">
                    <span>
                        Cart
                    </span>
                </a>
            </div>
            <div id = "profileMenu" onmousedown = "openProfileMenu" class = "topMenuLogo" >
                <button class = "logoContainer" onclick = "openProfileMenu()">
                    <img src = "#" srcset = "svg/profile.svg" alt = "A human looking logo" class = "svg logo">
                    <span>
                        Profile
                    </span>
                </button>
                <div id = "profileMenuOptions">
                    <div >
                        <div id = "profileTriangle">

                        </div>
                    </div>
                    <div class = "profileOption" th:if="${!loggedIn}">
                        <a th:href = "@{/login}">
                            Login
                        </a>
                    </div>
                    <div class = "profileOption" th:if="${loggedIn}">
                        <a th:href = "@{/profile}">
                            My profile
                        </a>
                    </div>
                    <div class = "profileOption" th:if="${loggedIn}">
                        <a th:href = "@{/formerOrders}">
                            My orders
                        </a>
                    </div>
                    <div class = "profileOption" th:if="${loggedIn}">
                        <a th:href="@{/logout}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>