<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact us</title>
    <link th:href = "@{css/basic.css}" rel = "stylesheet" type="text/css">
    <link th:href = "@{css/contactUs.css}" rel = "stylesheet" type="text/css">
</head>


<body>
<header id = "headerWrapper" th:replace="components/menu :: header">
</header>
    <section class="mainSection">
        <h2 class="mainHeaderText">
            Contact us
        </h2>

        <div class="contactUsContainer" id = "imageContainer">
            <figure>
                <img src="Images/teaCupImage.jpg" id="teacupImage"
                    alt="A rich black tea from the Yunnan province in China with hints of Cacao">
                <figcaption> Picture downloaded from unsplash.com, by NIKON CORPORATION </figcaption>
            </figure>
        </div>

        <div class="contactUsContainer" id = "contactInformations">
            <div>
                <h3 class="headerThree">
                    Contact information
                </h3>
                <div class="contactUsOption">
                    <div id="phoneContact">
                        <span>
                            Phone number:
                        </span>
                        <a href="tel:82097082">
                            <span>
                                820 97 082
                            </span>
                        </a>
    
                    </div>
                    <div id="emailContact">
                        <span>
                            Email:
                        </span>
                        <a href="mailto:norte@professionalemail.com">
                            <span>
                                norte@professionalemail.com
                            </span>
                        </a>
                    </div>
    
                    <div id="socialContact">
                        <span>
                            Contact us through social media or follow our sites!
                        </span>
                        <div class="socialLogoContainer">
                            <a href="https://twitter.com/">
                                <img src="Images/twitterLogoBlack.png" alt="twitter logo">
                            </a>
                            <a href="https://instagram.com/">
                                <img src="Images/instagramLogo.png" alt="Instagram logo">
                            </a>
                            <a href="https://facebook.com/">
                                <img src="Images/facebookLogo.png" alt="Facebook logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <h3 class="headerThree" id = "FAQHeader">
            Frequently asked questions
        </h3>
        <div id="FAQContainer">
            <div class="FAQ">
                <div class="FAQOpener">
                    <p>
                        Frakt og levering
                    </p>
                    <img src="#" srcset="svg/Arrow-for-dropdown-meny.svg" alt="dropdown arrow"
                        class="logo rotatableLogo">
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
            <div class="FAQ">
                <div class="FAQOpener">
                    <p>
                        Åpent kjøp og angrerett
                    </p>
                    <img src="#" srcset="svg/Arrow-for-dropdown-meny.svg" alt="dropdown arrow"
                        class="logo rotatableLogo">
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
            <div class="FAQ">
                <div class="FAQOpener">
                    <p>
                        Personvern og klageportal
                    </p>
                    <img src="#" srcset="svg/Arrow-for-dropdown-meny.svg" alt="dropdown arrow"
                        class="logo rotatableLogo">
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
            <div class="FAQ">
                <div class="FAQOpener">
                    <p>
                        Garanti og reklamasjon
                    </p>
                    <img src="#" srcset="svg/Arrow-for-dropdown-meny.svg" alt="dropdown arrow"
                        class="logo rotatableLogo">
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
        </div>

    </section>
    <script src="javascript/menu.js"> </script>
    <script src="javascript/contactUs.js"></script>



    <footer id= "footerWrapper" th:replace="/components/footer :: footer">
    </footer>
</body>

</html>