<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Information for one product</title>
    <link th:href="@{/css/basic.css}" rel = "stylesheet" type="text/css">
    <link th:href="@{/css/card.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/form.css}" rel = "stylesheet" type="text/css">
    <link th:href="@{/css/product-info.css}" rel = "stylesheet" type="text/css">
    <link th:href="@{/css/review.css}" rel = "stylesheet" type="text/css">
    <link th:href="@{/css/editProduct.css}" rel = "stylesheet" type="text/css">
</head>

<body>
    <header id = "headerWrapper" th:replace="components/menu :: header">
    </header>
    <script src="javascript/menu.js"></script>

    <section class="mainSection">
        <h2 class = "mainHeaderText">
            Edit product page

        </h2>
        <div id = "mainEditDiv">
            <form id = "editProductForm" class = "editForm" th:action = "@{/editProduct}" th:method = "PUT">
                <button class = "button greenButton" id = "switchViewButton" type = "button">
                    Switch view
                </button>
                <input type="hidden" class = "inputForm" id = "productID" name = "productID" th:value = "${productID}">
                <label for="productNameInput" class="formLabel">Product name</label>
                <input type="text" class = "inputForm" id = "productNameInput" placeholder="Enter product name" name = "productName" th:value = "${productName}">
                <label for="productAmountInput" class="formLabel">Product amount</label>
                <input type="number" class = "inputForm" id = "productAmountInput" placeholder="Enter product amount" name = "productAmount" th:value = "${productAmount}">
                <label for="productPriceInput" class="formLabel">Product price</label>
                <input type="number" class = "inputForm" id = "productPriceInput" placeholder="Enter product price" name = "productPrice" th:value = "${price}">
                <label for="companyIDInput" class="formLabel">Producer ID</label>
                <input type="number" class = "inputForm" id = "companyIDInput" placeholder="Enter company id" name = "companyID" th:value = "${companyID}">
                <label for="descriptionInput" class="formLabel">Description</label>
                <textarea class = "inputForm" form = "editProductForm" placeholder = "Insert ingredients" id = "descriptionInput" name = "description" th:text = "${description}"></textarea>
                <label for="ingredientsInput" class="formLabel">Ingredients</label>
                <textarea class = "inputForm" form = "editProductForm" placeholder = "Insert ingredients" id = "ingredientsInput" name = "ingredients" th:text = "${ingredients}"></textarea>
                <p>
                    Ingredients must be inserted with a ":" between the name and value. Also a comma is needed to seperate the values.
                </p>
                <p>
                    Example: sugar:54g, fiber:10g
                </p>
                <label for = "tags" class="formLabel">Tags</label>
                <textarea class = "inputForm" form = "editProductForm" placeholder = "Insert tags" id = "tags" name = "tags" th:text = "${tags}"></textarea>
                <p>
                    Tags must be separated with a ",". Example: "11,23,3"
                </p>
                <label for = "previewBox" class = "formLabel">Preview</label>
                <input type = "checkbox" id = "previewBox" class = "button greenButton submitButton" name = "previewProduct">
                <span class = "message">
                    Normal message.
                </span>
                <span class = "errorMessage message">
                    Error message.
                </span>
                <input type = "submit" class = "button greenButton submitButton" value = "Submit changes">
            </form>
            <div id = "productInfoPreview" class = "preview">
                <div id = "productContainer">
                    <div id= "product-info">
                        <h2  class="mainHeaderText" th:text="${productName}">
                            Troll Green Tea
                        </h2>
                        <figure>
                            <img src = "Images/greentea.jpg" id = "pictureOfTeaType" alt="Troll Green Tea Picture">
                            <figcaption>Picture taken from Nosplash</figcaption>
                        </figure>
                    </div>

                    <div id="addToCartContainer">
                        <div id="price-and-review">
                            <div class="product-info-price">
                                <div>
                                    <span class = "former-price" th:if="${isOnSale}">199kr</span>
                                </div>
                                <div th:if="${isOnSale}">
                                    <span class = "now-price">169kr</span>
                                </div>
                                <div th:if="${!isOnSale}">
                                    <span class = "normal-price" th:text="${price}">139</span>
                                    <span class="normal-price"> kr</span>
                                </div>
                            </div>
                            <a class="star-rating" href = "#productReviews">
                                <div class="review-star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                                <span class = "inStock">(
                                    <span id="amount-of-reviews">666</span>
                                    )
                                </span>
                            </a>
                        </div>

                        <form th:action = "@{/addToCart}" th:method = "PUT" th:if="${!isAdmin}" class = "Add-to-cart">
                            <input type = "hidden" name = "productID" th:value = "${productID}">
                            <button type="submit" class="greenButton button">ADD TO CART</button>
                        </form>
                        <form th:action = "@{/editProduct}" th:method = "GET" th:if="${isAdmin}" class = "Add-to-cart">
                            <input type = "hidden" name = "productID" th:value = "${productID}">
                            <button type="submit" class="greenButton button">EDIT PRODUCT</button>
                        </form>

                        <div class="amount">
                            <div class="amount-to-add">
                                <button class="minus-button" type="button">-</button>
                                <input class="num-to-change" value="1" name = "amountOfProduct">
                                <button class="plus-button" type="button">+</button>
                            </div>

                            <div class="amount-on-storage">
                                <span class="circle"></span>
                                <span class="amount-of-product" th:text="${productAmount}">170</span>
                                <span id = "storageStatus">+</span>
                                <span> on storage</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="drop-down-meny">
                    <div class="dropdown">
                        <div id = "descriptionContainer">
                        <span>
                            Description
                        </span>
                            <img src = "#" srcset = "svg/Arrow-for-dropdown-meny.svg" alt = "A arrow head" class = "svg logo rotatableLogo">
                        </div>
                        <div id = "description">
                            <h4 th:text="${productName}">
                                Chuck Norris doesn’t wear a watch. He decides what time it is.
                            </h4>
                            <p th:text="${description}">
                                Chuck Norris’ roundhouse kick is so powerful, it can be seen from outer space by the naked eye.
                            </p>

                        </div>
                    </div>

                    <div class="dropdown">
                        <div id = "ingredientsContainer" >
                            <span>Ingredients</span>
                            <img src = "#" srcset = "svg/Arrow-for-dropdown-meny.svg" alt = "A arrow head" class = "svg logo rotatableLogo">
                        </div>
                        <div id = "ingredients">
                            <p th:text="${ingredients}">
                                Chuck Norris once went skydiving, but promised never to do it again. One Grand Canyon is enough.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id = "productCardPreview" class = "preview showPreview">
                <div class = "card-container">
                    <a href="product-info.html" class="card">
                        <div class="card-header">
                            <img src="images/greentea-cropped.jpg" alt="Tea card picture">
                            <div class="card-title" th:text="${productName}">Blackberry Leaf Tea</div>
                            <div class="card-description" th:text="${description}">Tea ingredients from the nature of norway</div>
                        </div>

                        <div class="card-body">
                            <div class="price" th:if = "${isOnSale}">
                                <p class="now-price" th:text="${price}">169kr</p>
                                <p class="former-price">199kr</p>
                            </div>
                            <div class="price" th:if = "${!isOnSale}">
                                <p class="now-price normal-price" th:price = "${price}">199kr</p>
                            </div>
                            <div class="rating-on-cards">
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="star">&#9734;</span>
                                <span class="average-stars">2</span>
                                <span>(<span class="average-stars-on-card">69</span>)</span>
                            </div>
                            <form th:action = "@{/addToCart}" th:method = "PUT" th:if="${!isAdmin}">
                                <input type = "hidden" name = "productID" th:value = "${productID}">
                                <button type="submit" class="add-to-cart greenButton button">ADD TO CART</button>
                            </form>
                            <form th:action = "@{/editProduct}" th:method = "GET" th:if="${isAdmin}">
                                <input type = "hidden" name = "productID" th:value = "${productID}">
                                <button type="submit" class="add-to-cart greenButton button">EDIT PRODUCT</button>
                            </form>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <script src="javascript/product-info.js"></script>
    <script src="javascript/products.js"></script>
    <script src = "javascript/editProfile.js"></script>
    <footer id= "footerWrapper" th:replace="/components/footer :: footer">
    </footer>
</body>

</html>