<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Former order</title>
    <link th:href="@{/css/basic.css}" rel = "stylesheet" type="text/css">
    <link th:href="@{/css/formerOrder.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <header id = "headerWrapper" th:replace="components/menu :: header">
    </header>
    <script src="javascript/menu.js">
    </script>
    <script src="javascript/formerOrders.js">
    </script>
    <section class="mainSection">
        <h2 class="mainHeaderText">
            Orders
        </h2>
        <div class="orderContainer" id="headerContainer">
            <h3>
                Orderdate
            </h3>
            <h3>
                OrderStatus
            </h3>
            <h3>
                Total
            </h3>
        </div>
        <p th:if = "${orders.isEmpty()}">
            There is no orders to show.
        </p>
        <div class="orderContainer clickContainer" th:each="order: ${orders}">
            <p class="orderDate" th:text = "${order.getDateOfOrder()}">
                09.03.2022
            </p>
            <p class="orderStatus" th:text = "${order.getOrderState()}">
                Sent
            </p>
            <p class="orderPrice">
                <span th:text = "${order.getTotalPrice()}">899</span>,- kr
            </p>
            <a href="#">
                <img src="#" srcset="svg/Arrow-for-dropdown-meny.svg" alt="A arrow head" class="svg logo rotatableLogo">
            </a>
            <div class="order">
                <div class="orderDeatils">
                    <p class="orderHeader">
                        Delivery
                    </p>
                    <p>
                        Delivery method
                    </p>
                    <p th:text = "${order.getDeliveryMethod()}">
                        Helt hjem
                    </p>
                    <p class="wholeText underHeader">
                        Name and address
                    </p>
                    <p class="closeText wholeText" th:text = "${order.getUser().getFirstName()}">
                        Navn
                    </p>
                    <p class="closeText wholeText" th:text = "${order.getUser().getLastName()}">
                        Navnesen
                    </p>
                    <p class="closeText wholeText">
                        <span th:text = "${order.getAddress().getStreetName()}">Ålesundvegen</span>
                        <span th:text = "${order.getAddress().getHouseNumber()}">65</span>
                    </p>
                    <p class="wholeText closeText">
                        <span th:text = "${order.getAddress().getPostalCode()}">6015</span>
                        <span th:text = "${order.getAddress().getPostalPlace()}">Ålesund</span>
                    </p>
                </div>
                <div class="orderDeatils">
                    <p class="orderHeader">
                        Order details
                    </p>
                    <p>
                        Order gotten
                    </p>
                    <p th:text = "${order.getDateOfOrder()}">
                        08.03.2022
                    </p>
                    <p>
                        Order status
                    </p>
                    <p th:text = "${order.getOrderState()}">
                        Sent
                    </p>
                    <p>
                        Date sent
                    </p>
                    <p th:text = "${order.getShippedDate() == null} ? 'Not sent' : ${order.getShippedDate()}">
                        09.03.2022
                    </p>
                    <p>
                        Payment method
                    </p>
                    <p th:text = "${order.getPaymentMethod()}">
                        15 camels and one ferrari
                    </p>
                    <p>
                        Order number
                    </p>
                    <p th:text = "${order.getOrderID()}">
                        4482914
                    </p>
                </div>
                <div class="product" th:each = "product: ${order.getOrderedProductList()}">
                    <div class="productPicture productDetails">
                        <img src="Images/greentea.jpg" alt="GreenTea">
                        <p class="closeText productHeader" th:text = "${product.getProduct().getProductName()}">
                            Green stoned tea
                        </p>
                        <p>
                            Produced by <span th:text = "${product.getProduct().getCompany().getCompanyName()}">blablabla</span>
                        </p>
                    </div>
                    <div class="productCostAndAmount productDetails">
                        <p class="closeText">
                            Price per: <span th:text = "${product.getPricePerProduct()}"> 299</span>,-
                        <p>
                            Amount: <span th:text = "${product.getAmountOfProduct()}">2</span>
                        </p>
                        <p class="closeText">
                            Total cost: <span th:text = "${product.getTotalPrice()}">600</span>,-
                        </p>
                        <button class="reviewButton button">
                            Leave review
                        </button>
                    </div>
                </div>
                <div class="productSummation orderDeatils">
                    <p class="underHeader deliveryHeader">
                        Delivery cost
                    </p>
                    <p>
                        <span>0</span>,-
                    </p>
                    <p class="underHeader costHeader">
                        Total cost
                    </p>
                    <p>
                        <span th:text = "${order.getTotalPrice()}">600</span>,-
                    </p>
                    <button class="returnButton button">
                        Return wares
                    </button>
                </div>
            </div>

        </div>
    </section>
    <footer id= "footerWrapper" th:replace="/components/footer :: footer">
    </footer>
</body>

</html>