<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Page</title>
        <link th:href="@{/css/basic.css}" rel = "stylesheet" type="text/css">
        <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header id = "headerWrapper" th:replace="components/menu :: header">
        </header>
        <section class="mainSection">
            <h2  class="mainHeaderText">
                Log in
            </h2>
            <div class = "enter-details">
                <form class="enter-account-details" action="login" method="POST" onsubmit="return false">
                    <label for="email" class="email">Email</label>
                    <input type="text" id = "email" name = "username" placeholder="Enter email adress">
                    <label for="password" class="password">Password</label>
                    <input type="password" id="password" name = "password" placeholder="Enter password">
                    <span th:unless="${param.error}">
                        Password must be at least 6 characters long
                    </span>
                    <span th:if="${param.error}">
                        The credentials entered is not valid. Please try again.
                    </span>

                    <a href="forgotPassword.html">
                        Forgot Password?
                    </a>
                    <input type="submit" value="Sign in" id="sign-in" class="button">
                </form>
                <h3>Not a member yet?</h3>
                <a href="registerPage.html">
                    Register here
                </a>
            </div>
        </section>
        <footer id= "footerWrapper" th:replace="/components/footer :: footer">
        </footer>
        <script type="text/javascript" th:src="@{/javascript/menu.js}"></script>
    </body>
</html>