<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Account</title>
        <link th:href = "@{/css/basic.css}" rel = "stylesheet" type="text/css">
        <link th:href = "@{/css/profile.css}" rel = "stylesheet" type = "text/css">
        <link th:href = "@{/css/profileMenu.css}" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <header id = "headerWrapper" th:replace="components/menu :: header">
        </header>
        <section class = "mainSection">
            <div id = "profileWrapper">
                <div id = "profileIntro">
                    <h2 class = "mainHeaderText">
                        Your profile page
                    </h2>
                    <figure>
                        <img src = "Images/handsWithTea.jpg" id = "profileStandardPicture" alt = "Two people toasting with metal cups.">
                        <figcaption>Picture taken from Nathan Dumalo on Nosplash</figcaption>
                    </figure>
                </div>

                <div class = "personalInformation">
                    <h3 id = "aboutYouHeader">
                        About you
                    </h3>
                    <p class = "closeText">
                        First name
                    </p>
                    <p class = "closeText" th:text="${user.getFirstName()}">
                        Test
                    </p>
                    <p class = "closeText">
                        Last name
                    </p>
                    <p class = "closeText" th:text="${user.getLastName()}">
                        Testesen
                    </p>
                    <p class = "closeText">
                        Email
                    </p>
                    <p class = "closeText" th:text="${user.getEmail()}">
                        Test@Testesen.com
                    </p>
                    <p class = "closeText">
                        Phonenumber
                    </p>
                    <p class = "closeText" th:text="${user.getPhoneNumber()}">
                        44609832
                    </p>
                    <p>
                        Main address
                    </p>
                    <p th:text = "${address.getWholeAddressAsString()}">
                        Testvegen 12
                        6015
                        Ålesund
                        Norge
                    </p>
                    <button class = "button greenButton" id = "editProfile">
                        <span>
                            Edit profile
                        </span>
                    </button>
                </div>
                <div id = "optionsForUser">
                    <div class = "profileMenuOptions">
                        <a href = "formerOrder.html">
                            <span>
                                Your orders
                            </span>
                            <span>
                                Overview of orders and returns.
                            </span>
                        </a>
                    </div>
                    <div class = "profileMenuOptions">
                        <a href = "#" class = "editPassword" id = "editPassword">
                            <span class = "editPassword">
                                Security
                            </span>
                            <span class = "editPassword">
                                Manage your password.
                            </span>
                        </a>
                    </div>
                    <div class = "profileMenuOptions">
                        <a href = "contactUs.html">
                            <span>
                                Help and contact
                            </span>
                            <span>
                                Contact information & help for the website
                            </span>
                        </a>
                    </div>
                </div>
                <div id = "deleteProfile">
                    <h3>
                        Delete profile
                    </h3>
                    <p>
                        If you want to delete your profile you can do it here. All former orders will be deleted from your profile and should be saved if you need them. These receipts are also needed for return or to use the warranty of a product.
                    </p>
                    <p>
                        After the deletion you cannot login to your account again.
                    </p>
                    <button class = "button" id = "deleteProfileButton">
                        Delete my profile
                    </button>
                </div>
            </div>

            <div class = "editContainer" id = "editProfileContainer">
                <div>
                    <div>
                        <div class = "headerOverlay">
                            <h3>Profile details</h3>
                            <img src="svg/cross.svg" alt = "Exit edit window logo" class = "logo exitOverlay">
                        </div>
                        <form class = "editForm"  action = "#" th:action="@{/user}" th:method = "POST">
                            <label for="firstName">First name</label>
                            <input type = "text" id = "firstName" name = "firstName" placeholder = "Enter first sname" class = "input" th:value = "${user.getFirstName()}">
                            <label for = "lastName">Last name</label>
                            <input type = "text" id = "lastName" name = "lastName" placeholder = "Enter last name" th:value = "${user.getLastName()}">
                            <label for = "email">E-mail</label>
                            <input type = "email" id = "email" name = "email" placeholder = "Enter email address" th:value = "${user.getEmail()}">
                            <label for = "mobileNumber">Mobile number</label>
                            <input type = "number" id = "mobileNumber" name = "mobileNumber" placeholder = "Enter mobile number" th:value = "${user.getPhoneNumber()}">
                            <input type = "submit" value = "Change details" id = "submitEditProfile" class = "button greenButton">
                        </form>
                    </div>
                    <div>
                        <h3>
                            Address
                        </h3>
                        <form class = "editForm" action = "#" th:action="@{/address}" th:method = "POST">
                            <label for = "streetName">Street name</label>
                            <input type = "text" id = "streetName" placeholder = "Enter street name" th:value = "${address.getStreetName()}" name = "streetName">
                            <label for = "houseNumber">House number</label>
                            <input type = "text" id = "houseNumber" placeholder = "Enter house number" th:value = "${address.getHouseNumber()}" name = "houseNumber">
                            <label for = "postalCode">Postal code</label>
                            <input type = "number" id = "postalCode"  placeholder = "Enter postal code" th:value = "${address.getPostalCode()}" name = "postalCode">
                            <label for = "city">City</label>
                            <input type = "text" id = "city"  placeholder = "Enter city" th:value = "${address.getPostalPlace()}" name = "postalPlace">
                            <label for = "country">Country</label>
                            <input type = "text" id = "country" placeholder = "Enter country" th:value = "${address.getCountry()}" name = "country">
                            <input type = "submit" value = "Update address" class = "button greenButton">
                        </form>
                    </div>
                </div>
            </div>

            <div class = "editContainer" id = "editPasswordContainer">
                <div>
                    <div>
                        <div class = "headerOverlay">
                            <h3>Edit password</h3>
                            <img src="svg/cross.svg" alt = "Exit edit window logo" class = "logo exitOverlay">
                        </div>
                        <form class = "editForm">
                            <label for = "oldPassword">Old password</label>
                            <span id = "invalidPassword" class = "formHelpText"></span>
                            <input type = "password" id = "oldPassword" placeholder = "Enter old password" class = "input">
                            <label for = "newPassword">New password</label>
                            <input type = "password" id = "newPassword" placeholder = "Enter new password">
                            <span id = "newPasswordHelp">The password must be 8 letters in length</span>
                            <label for = "twicePassword">Confirm new password</label>
                            <input type = "password" id = "twicePassword" placeholder = "Enter the new password again">
                            <span id = "passwordMismatch">The passwords does not match</span>
                            <input type = "submit" value = "Change password" id = "submit" class = "button greenButton">
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <footer id= "footerWrapper" th:replace="/components/footer :: footer">
        </footer>

        <script type="text/javascript" th:src="@{/javascript/profile.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/menu.js}"></script>
    </body>
</html>