<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Account</title>
        <link th:href = "@{/css/basic.css}" rel = "stylesheet" type="text/css">
        <link th:href = "@{/css/profile.css}" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <header id = "headerWrapper" th:replace="components/menu :: header">
        </header>
        <section class = "mainSection">
            <div id = "profileWrapper">
                <div id = "profileIntro">
                    <h2 class = "mainHeaderText">
                        Your profile page
                    </h2>
                    <figure>
                        <img src = "Images/handsWithTea.jpg" id = "profileStandardPicture" alt = "Two people toasting with metal cups.">
                        <figcaption>Picture taken from Nathan Dumalo on Nosplash</figcaption>
                    </figure>
                </div>
                
                <div class = "personalInformation">
                    <h3 id = "aboutYouHeader">
                        About you
                    </h3>
                    <p class = "closeText">
                        First name
                    </p>
                    <p class = "closeText" th:text = "${user.getFirstName()}">
                        Test 
                    </p>
                    <p class = "closeText">
                        Last name
                    </p>
                    <p class = "closeText" th:text = "${user.getLastName()}">
                        Testesen
                    </p>
                    <p class = "closeText">
                        Email
                    </p>
                    <p class = "closeText" th:text = "${user.getEmail()}">
                        Test@Testesen.com
                    </p>
                    <p class = "closeText">
                        Phonenumber
                    </p>
                    <p class = "closeText" th:text = "${user.getPhoneNumber()}">
                        44609832
                    </p>
                    <p>
                        Main address
                    </p>
                    <p>
                        <span>
                            <span th:text = "${address.getStreetName()}">Testvegen</span>
                            <span th:text = "${address.getHouseNumber()}">12</span>
                        </span>
                        <span th:text = "${address.getPostalCode()}">6015</span>
                        <span th:text = "${address.getPostalPlace()}">Ålesund</span>
                        <span th:text = "${address.getCountry()}">Norge</span>
                    </p>
                    <a th:href = "@{/editProfile}" class = "button greenButton" id = "editProfile">
                        Edit profile
                    </a>
                </div>
                <div id = "optionsForUser">
                    <div class = "profileMenuOptions" th:if ="${!isAdmin}">
                        <a th:href = "@{/formerOrders}">
                            <span>
                                Your orders
                            </span>
                            <span>
                                Overview of orders and returns.
                            </span>
                        </a>
                    </div>
                    <div class = "profileMenuOptions">
                        <a th:href = "@{/contactUs}">
                            <span>
                                Help and contact
                            </span>
                            <span>
                                Contact information & help for the website
                            </span>
                        </a>
                    </div>
                </div>
                <form id = "deleteProfile" th:if ="${!isAdmin}">
                    <h3>
                        Delete profile
                    </h3>
                    <p>
                        If you want to delete your profile you can do it here. All former orders will be deleted from your profile and should be saved if you need them. These receipts are also needed for return or to use the warranty of a product.
                    </p>
                    <p>
                        After the deletion you cannot login to your account again.
                    </p>
                    <button class = "button" id = "deleteProfileButton">
                        Delete my profile
                    </button>
                </form>
            </div>
        </section>
        <script type="text/javascript" th:src="@{/javascript/profile.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/menu.js}"></script>
        <footer id= "footerWrapper" th:replace="/components/footer :: footer">
        </footer>
    </body>
</html>