<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register user page</title>
        <link th:href="@{/css/basic.css}" rel = "stylesheet" type="text/css">
        <link th:href="@{/css/login.css}" rel = "stylesheet" type="text/css">
        <link th:href="@{/css/registerAccount.css}" rel = "stylesheet" type="text/css">
    </head>
    <body>
        <header id = "headerWrapper" th:replace="components/menu :: header">
        </header>


        <section class="mainSection">
            <h2  class="mainHeaderText">
                Create Account
            </h2>
            <form class="enter-details">
                <div class="enter-account-details">
                    <label for="firstName" class="loginLabel">First name</label>
                    <input type="text" id="firstName" placeholder="Enter first name" name = "firstName">
                    <label for="lastName" class="loginLabel">Last name</label>
                    <input type="text" id="lastName" placeholder="Enter last name" name = "lastName">
                    <label for="email" class="loginLabel">Email</label>
                    <input type="text" id="email" placeholder="Enter email adress" name = "eMail">
                    <label for="phoneNumber" class="loginLabel">Phone number</label>
                    <input type="number" id="phoneNumber" placeholder="Enter phone number" name = "phoneNumber">
                    <label for="password" class="password">Password</label>
                    <input type="password" id="password" placeholder="Enter at least 6 characters" name = "password">
                    <label for="re-enter-password" class="loginLabel">Re enter password</label>
                    <input type="password" id="re-enter-password" placeholder="Re enter the same password" name = "secondPassword">
                    <input type="submit" value="Register user" id="sign-in" class="button">
                </div>
                
                <span>Already have an account?</span>
                <a class="signIn" th:href="/login">
                    Sign in here
                </a>
            </form>
        </section>
        <footer id= "footerWrapper" th:replace="/components/footer :: footer">
        </footer>
        <script src = "javascript/menu.js">
        </script>
    </body>
</html>
