<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Thank you-page</title>
        <link th:href = "@{/CSS/basic.css}" rel="stylesheet" type="text/css">
        <link th:href = "@{/CSS/thankYou.css}" rel="stylesheet" type="text/css">
    </head>

    <body>
    <header id = "headerWrapper" th:replace="components/menu :: header">
    </header>

        <section class = "mainSection" id = "mainContent">
            <h1 class = "mainHeaderText">
                Thank you for your purchase!
            </h1>
            <p>
                <span>
                    We are greatful for your support.
                    Feel free to leave a review of your product(s) too
                </span>
            </p>


            <div class = "allProductsAndSale">
                <figure class ="teaCupThankYou" id = "topButtonsPicture">
                    <div class = "topButtonsWrapper">
                        <a th:href="@{formerOrders}" class="thankYouButton">
                            <span>
                                Look at your orders here
                            </span>
                        </a>
                        <a th:href="@{contactUs}" class="thankYouButton">
                            <span>
                                Got any questions? Contact us here!
                            </span>
                        </a>
                    </div>
                    <img src="Images/cupAndPlant.jpg" class ="teacupImage"
                        alt="teacup image">
                    <figcaption> Picture downloaded from unsplash.com, by Massimo Rinaldi </figcaption>
                </figure>
            </div>

        </section>
    <script type="text/javascript" th:src="@{/javascript/menu.js}"></script>
    <footer id= "footerWrapper" th:replace="/components/footer :: footer">
    </footer>

    </body>


</html>