<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Frontpage</title>
        <link th:href="@{/css/basic.css}" rel = "stylesheet" type="text/css">
        <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/card.css}" rel = "stylesheet" type="text/css">
        
    </head>
    <body>
        <header id = "headerWrapper" th:replace="components/menu :: header">
        </header>
        <script src = "javascript/menu.js">   
        </script>
        <section class = "mainSection">
            <h2 class = "WelcomeText mainHeaderText">
                Welcome to NORTE - for tea lovers 
            </h2>
            <div class = "allProductsAndSale">
                <figure class ="teaCupFrontPage" id = "topButtonsPicture">
                    <div class = "topButtonsWrapper">
                        <a href="products.html" class="frontpageButton">
                            <span>
                                All products
                            </span>
                        </a>
                        <a href="products.html" class="frontpageButton"> <!--Change to link to sales instead of products-->
                            <span>
                                Sale
                            </span>
                        </a>
                    </div>
                    <img th:src="@{Images/cupAndPlant.jpg}"alt="SOMETHING">
                    <figcaption> Picture downloaded from unsplash.com, by Massimo Rinaldi </figcaption>
                </figure>
                
            </div>
            <div class ="productsByOccation miniHeader">
                <h2>
                    We can offer tea for every occasion!
                </h2>
                <figure class ="teaCupFrontPage">
                    <img th:src="@{Images/teaLightsBook.jpg}" alt="SOMETHING">
                    <figcaption> Picture downloaded from unsplash.com, by SVITLANA </figcaption>
                </figure>
                <div class ="theOccasions">
                    <h3 class="miniHeader">
                        Need a cleanse? We gotcha fam!
                    </h3>
                    <div class ="card-container">
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture"></img>
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                    <h3 class="miniHeader">
                        Can't sleep? Come get your cammomile dawg!
                    </h3>
                    <div class = "card-container">
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture"></img>
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <h3 class="miniHeader">
                        Low on energy? Say no more! We have black tea
                    </h3>
                    <div class ="card-container">
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <h3 class = "miniHeader">
                        We also got the cutest mugs and other accessoire. Check it out!
                    </h3>
                    <div class ="card-container">
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class="former-price">199kr</p>
                                    <p class="now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                        <a href="product-info.html" class="card">
                            <div class="card-header">
                                <img th:src="@{Images/greentea-cropped.jpg}" alt="Tea card picture">
                                <div class="card-title">Blackberry Leaf Tea</div>
                                <div class="card-description">Tea ingredients from the nature of norway</div>
                            </div>
                
                            <div class="card-body">
                                <div class="price">
                                    <p class = "former-price">199kr</p>
                                    <p class = "now-price">169kr</p>
                                </div>
                                <div class="star-rating">
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                    <span class="star">&#9734;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <h3 class="miniHeader">
                        Regardless of your needs, we are here to help!
                    </h3>
                    <p>
                        Scroll through our products here:
                    </p>
                    <div class = "allProductsAndSale">
                    
                        <figure class ="teaCupFrontPage" id = "allProductsAndSaleImage">
                            <div class = "topButtonsWrapper">
                                <a href="products.html" class="frontpageButton">
                                    <span>
                                        All products
                                    </span>
                                </a>
                                <a href="products.html" class="frontpageButton"> <!--Change to link to sales instead of products-->
                                    <span>
                                        Sale
                                    </span>
                                </a>
                            </div>
                            <img th:src="@{Images/cupAndPlant.jpg}" alt="SOMETHING">
                            <figcaption> Picture downloaded from unsplash.com, by Massimo Rinaldi </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class ="infoAndAboutUs">
                
                <figure class ="teaCupFrontPage" id = "grassFigure">
                    <div id = "whiteBackgroundWrapper">
                        <div id ="whiteBackground">
                            <p>
                                Humans have been enjoying herbal teas for millennia. We are passionate for natural teas, nurtured by
                                our ancestors. Our experts have carefully selected teas from all regions of the planet, of course through Fairtraded guidelines, and eco-friendly transport. 
                                Read more about us and our values her:
                            </p>
                            <a href="aboutUs.html" class="frontpageButton">
                                <span>
                                    About Us
                                </span>
                            </a>
                        </div>
                    </div>
                    <img src="Images/herbsInFIeld.jpg" alt="SOMETHING">
                    <figcaption> Picture downloaded from unsplash.com, by Massimo Rinaldi </figcaption>
                </figure>
            </div>
        </section>
        <footer id= "footerWrapper" th:replace="/components/footer :: footer">
        </footer>
    </body>
</html>